body {
    background: #c5f9e9;
}

h1{
    text-align: center;
    font-family: Impact;
    font-size: 60px;
    letter-spacing: 6px;
}

div{
    text-align: center;
}

p{
    font-family: cambria;
    font-weight: bold;
    font-size: 16px;
}

button {
     padding: 15px 50px;
     font-size: 18px;
     font-family: Impact;
     margin: auto;
     display: block;
     background-color: black;
     color: white;
}

button:hover{
     background-color: white;
     color: black;
}

form{
    padding-top: 25px;
}