body {
    background: #c5f9e9;
    font-family: arial;
}

h1 {
    font-size: 100px;
    text-align: center;
    padding-bottom: 100px;
}

#button {
     padding: 15px 50px;
     font-size: 18px;
     font-family: arial;
     margin: auto;
     display: block;
     background-color: black;
     color: white;
     font-style: italic;
}

#button:hover{
     background-color: white;
     color: black;
}

#countdown{
    font-size: 150px;
    text-align: center;
}

canvas{
    display: block;
    margin: 0 auto;
}