body {
    background: #c5f9e9;
}

h1 {
    font-size: 100px;
    text-align: center;
    padding-top: 110px;
    padding-bottom: 25px;
    font-family: Impact;
    letter-spacing: 16px;
}

button {
     padding: 15px 50px;
     font-size: 18px;
     font-family: Impact;
     margin: auto;
     display: block;
     background-color: black;
     color: white;
     //font-style: italic;
}

button:hover{
     background-color: white;
     color: black;
}

#countdown{
    font-size: 150px;
    padding-top: 100px;
    text-align: center;
    font-family: Impact;
}

